<h3>Ajouter un utilisateur</h3>
<form [formGroup]="form">
    <div>
        <label for="firstname">Prénom :</label>
        <input id="firstname" type="text" formControlName="firstname" />
        <p class="error"></p>
    </div>

    <div>
        <label for="lastname">Nom :</label>
        <input id="lastname" type="text" formControlName="lastname" />
        <p class="error"></p>
    </div>

    <div>
        <label for="email">Email :</label>
        <input id="email" type="email" formControlName="email" />
        <p class="error"></p>
    </div>

    <div>
        <label for="phone">Téléphone :</label>
        <input id="phone" type="text" formControlName="phone" />
        <p class="error"></p>
    </div>

    <button (click)="submit()" [disabled]="form.invalid">Créer</button>
</form>