<h3>Ajouter un utilisateur</h3>
<form [formGroup]="form">
    <label for="firstname">Prénom :</label>
    <input id="firstname" type="text" formControlName="firstname" />

    <label for="lastname">Nom :</label>
    <input id="lastname" type="text" formControlName="lastname" />

    <label for="email">Email :</label>
    <input id="email" type="email" formControlName="email" />

    <label for="phone">Téléphone :</label>
    <input id="phone" type="text" formControlName="phone" />

    <button (click)="submit()">Créer</button>
</form>